* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.contenedor {
    background: #742284;
    display: flex;
    flex-direction: column;
    height: 110vh;
    overflow: hidden; /* Evita que el contenido se desborde fuera del contenedor */
}

.uno {

    background-color: #742284;
    height: 8%;
    position: fixed; /* Mantiene el div en una posición fija */
    top: 0; /* Ubica el div en la parte superior */
    left: 0;
    width: 100%; /* Asegura que el div ocupe todo el ancho del viewport */
    z-index: 1; /* Asegura que el div esté por encima de otros elementos */
}
.uno img{
    width: 100%;
    height: auto;
}
.dos {

    height: 87.5%; /* Ajusta la altura para que .dos ocupe el espacio restante */
    margin-top: 7%; /* Compensa la altura de .uno */
    margin-bottom: 8%; /* Compensa la altura de .tres */
    overflow-y: auto; /* Permite el desplazamiento del contenido si es mayor que el contenedor */
    margin-top: 13%;
}
.dos1{
    height: 42%;
}
.dos11{

    height: 31%;
}
.dos11 img{
    width: 100%;
    height: auto;

}
.dos12{
    height: 69%;
}
.dos12 img{
    width: 100%;
    height: auto;
}
.dos2{
    background-color: #ffffff;
    height: 58%;
}
.dos21{

    height: 16.25%;
}
.dos21 img{
    width: 100%;
    height: auto;
}
.dos22{

    height: 16.25%;
}
.dos22 img{
    width: 100%;
    height: auto;
}
.dos23{
    height: 20%;
    display: flex;
    flex-direction: row;
    font-family: 'Arial', 'Helvetica', 'Segoe UI', sans-serif;

}
.dos231{

    width: 75%;
    display: flex;
    flex-direction: column;
    

}


.dos2311 {

    height: 50%;
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: flex-end; /* Alinea hacia abajo */
    justify-content: flex-start; /* Alinea hacia la izquierda */
    margin-left: 1.5em;
    font-weight: 600;
    color: #2d2844;
    font-size: 15.5px;
}

.dos2312 {
    margin-left: 1.5em;
    height: 50%;
    display: flex;
    align-items: flex-start; /* Alinea hacia arriba */
    justify-content: flex-start; /* Alinea hacia la izquierda */
    color: #9691a0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.dos232{
    width: 25%;
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    color: #c74a65;
    font-size: 16px;
    font-weight: 460;
    padding-right: 1em;
}



.dos24{

    height: 20%;
}
.dos24 img{
    width: 100%;
    height: auto;
    
    
}
.dos25{

    height: 20%;
}
.dos25 img{
    width: 100%;
    height: auto;
    margin-top: 0.6%;
}




.tres {
    background-color: #fffdfe;
    height: 12%;
    position: fixed; /* Mantiene el div en una posición fija */
    bottom: 0; /* Ubica el div en la parte inferior */
    left: 0;
    width: 100%; /* Asegura que el div ocupe todo el ancho del viewport */
    z-index: 1; /* Asegura que el div esté por encima de otros elementos */
    display: flex;
    flex-direction: row;
}
.tres1{
    width: 50%;

}
.tres1 img{
    width: 100%;
}
.tres2{
    width: 50%;

}
.tres2 img{
    width: 100%;
}
#dos23 {
    -webkit-tap-highlight-color: transparent;
}